{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE|default:" en"}}">

<head>
    <title>{% block title %}{{shope_name}} - {{shop_tagline}}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="created" content="{% now " jS M Y h:i" %}" />
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="{% static 'accounts/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
    {% block favicon %}
    <link rel="shortcut icon" href="{% static  'accounts/favicon.ico' %}" />
    {% endblock %}

    <!-- Block where global css will go -->
    {% block styles %}{% endblock %}

    <!-- Additional css specific to certain page. -->
    {% block extrastyles %}{% endblock %}

</head>

<body>
    <!-- Header content -->
    {% block header %}{% endblock %}

    <!-- Main content go in the content block. -->
    {% block layout %}{% endblock %}
    {% block cdn_scripts %}
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>

    {% endblock %}

    <!-- Local scripts -->
    {% block scripts %}{% endblock %}

    <!-- Additional js scripts. -->
    {% block extrascripts %}{% endblock %}

    {# Block for body onload functions #}
    <script>
        $(function () {
            {% block onbodyload %} {% endblock %}
        });
    </script>
    <script src="{% static 'accounts/js/script.min.js' %}"></script>
</body>

</html>