
/*base colors 343434 -blakc , 8ccf38 -green ,fcb322 -yllo*/

.header {
    position: fixed;
    width: 100%;
    z-index: 11;
 
}

scrollbar {
    background: #343434;
    color: #8ccf38;
}

.header .header_logohld {
    margin: 0;
    position: relative;
    top: 0px;
    left: 0px;
    width: 170px;
    float: left;
    margin: 0 0 0 10px;
}

#menu_togg {
    float: left;
    display: block;
    font-size: 23px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    margin: 15px 0 0 10px;
}

.notify-row {
    float: left;
    margin-top: 15px;
    margin-left: 3%;
}

@media (max-width: 600px) {
    .notify-row {
        display: none;
    }
}


.badge.bg-success {
    background: #8ccf38;
}

.badge.bg-warning {
    background: #fcb322;
}

.badge.bg-important {
    background: #ff6c60;
}

.notify-row .badge {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}

.notify-arrow-yellow {
    border-color: transparent transparent #FCB322;
    border-bottom-color: #FCB322 !important;
    border-top-color: #FCB322 !important;
}



#top_menu > li {
    float: left;
}

    #top_menu > li > a {
        color: #666666;
        font-size: 16px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        border: 1px solid #f0f0f8 !important;
        padding: 2px 6px;
        margin-right: 15px;
    }

        #top_menu > li > a:hover, #top_menu > li > a:active, #top_menu > li > a:focus {
            background: none;
            border: 1px solid #666666 !important;
        }

.dropdown-menu li p.yellow {
    background-color: #fcb322;
    color: #fff;
    display: inline-block;
    padding: 5px;
    margin: -4px 0 0 0;
    width: 202px;
}

.dropdown-menu li {
    border-bottom: 1px solid #EBEBEB;
    height: 30px;
}

.header_right_item {
    width: auto;
    min-width: 100px;
    height: 100%;
    display: block;
    float: right!important;
    margin: 0 1% 0 0;
}

#hdr_right_opt .dropdown-menu {
    float: right;
    right: 0;
    left: auto;
    width: 230px;
}

    #hdr_right_opt .dropdown-menu li {
        height: 50px;
    }

        #hdr_right_opt .dropdown-menu li a {
            width: 100%;
            line-height: 30px;
            color: #a4abbb;
        }

            #hdr_right_opt .dropdown-menu li a:hover {
                background: none;
                color: #50c8ea;
            }

#hdr_right_opt .name {
    display: block;
    padding: 5px 0 0 10px;
    border: 1px solid #cbcbcb !important;
    margin: 8px 0 0 0;
    height: 35px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 4px;
    color: #000;
}

#hdr_right_opt ul li .logout {
    text-align: center;
    width: 100%;
    float: left;
    background: #8ccf38;
    padding: 10px 1px !important;
    width: 100%;
    display: inline-block;
    color: #fff;
    margin-bottom: -5px;
    font-size: 16px;
}

    #hdr_right_opt ul li .logout:hover {
        background: #87c737;
        color: #fff;
    }

    #hdr_right_opt ul li .logout i {
        width: 100%;
    }

    #hdr_right_opt ul li .logout span {
        width: 100%;
        float: left;
    }
/*menu fixed*/
#sidebar {
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    background: #2a3542;
    background: #343434;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: #fff;
    padding-top: 60px;
    z-index: 10;
    overflow: hidden;
}

.sidebar_active {
    width: 200px;
}

.sidebar_deactive {
    width: 0px;
}

.wrapper {
    display: inline-block;
    margin-top: 50px;
    padding: 10px;
    float: left;
    min-height: 650px;
    width: 100%;
    /*background: #fff;*/
}

#main {
    width: 100%;
    display: block;
    float: left;
    height: auto;
    position: absolute;
    top: 0px;
    overflow: hidden;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.wraper_margin {
    width: 85%;
    margin-left: 205px;
}

.side_search {
    float: left;
    display: block;
    height: auto;
    outline: none;
    border: none;
    padding: 5px 0 5px 8px;
    margin: 5px 10px 0px 10px;
    color: #000;
    font-size: 15px;
    width: 180px;
    border-radius: 4px;
    border: 2px solid #666666;
}

.sidebar_menu {
    width: 100%;
    display: block;
    float: left;
    height: auto;
    margin: 40px 0 0 0;
    padding: 3px;
}

    .sidebar_menu li {
        width: 100%;
        display: block;
        float: left;
        margin: 0;
        padding: 1px 0 1px 1px;
    }

        .sidebar_menu li a {
            width: 100%;
            display: block;
            float: left;
            text-decoration: none;
            color: #fff;
            font-size: 15px;
            padding: 8px 0 8px 15px;
            border-radius: 3px;
            text-transform: capitalize;
            background: #4b4b4b;
        }

        .sidebar_menu li aactive {
            background: #4b4b4b;
        }

        .sidebar_menu li a i {
            color: #fcb322;
        }

        .sidebar_menu li a span {
            margin-left: 10px;
        }

.page-name {
    width: 100%;
    display: block;
    float: left;
    height: auto;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #dedede;
}

    .page-name p {
        width: 100%;
        display: block;
        float: left;
        font-size: 16px;
        padding: 8px 0 3px 1%;
        font-weight: 600;
    }

        .page-name p i {
            font-size: 20px;
            margin: 0 1% 0 2%;
            color: #8ccf38;
        }

        .page-name p a {
            text-decoration: none;
            color: #666666;
        }

    .page-name .add_btn_holder {
        display: block;
        float: right;
        margin: 0px 0 5px 0;
    }

        .page-name .add_btn_holder a {
            margin: 3px;
        }

.sectionfirst {
    margin-top: 55px;
}

.section {
    margin-top: 15px;
}

.item-overview {
    border-radius: 5px;
    border: 1px solid #dedede;
    text-align: center;
    overflow: hidden;
}

    .item-overview .iten1, .item-overview .iten2, .item-overview .iten3 {
        font-size: 25px;
        padding: 10px 0 10px 0;
        width: 100%;
        color: #fff;
    }

    .item-overview .iten1 {
        background: #ff6c60;
    }

    .item-overview .iten2 {
        background: #8ccf38;
    }

    .item-overview .iten3 {
        background: #fcb322;
    }

    .item-overview span {
        font-size: 30px;
        font-weight: 600;
    }

    .item-overview p {
        font-size: 15px;
    }

.tableholder {
    width: 100%;
    display: block;
    float: left;
    height: auto;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #dedede;
    padding: 20px 5px 10px 5px;
}

    .tableholder .dataTables_length {
        margin: 10px 0 0 0;
    }

        .tableholder .dataTables_length label {
            color: #797979;
        }

    .tableholder .dataTables_filter {
    }

        .tableholder .dataTables_filter label {
            color: #797979;
        }

        .tableholder .dataTables_filter input {
            outline: none;
            border: none;
            border: 1px solid #c4c4c4;
            font-size: 15px;
            padding: 5px;
            font-weight: 400;
            border-radius: 6px;
        }

    .tableholder table {
        float: left;
        margin: 20px 0 10px 2%;
        width: 96%;
    }

        .tableholder table thead tr .img {
            max-width: 80px;
            width: 80px;
        }

        .tableholder table tbody tr td img {
            max-width: 50px;
        }

    .tableholder .item-operatn {
        width: 60%;
        /*height: 30px;*/
        /*background: #8ccf38;*/
        /*position: absolute;
        top: 7px;
        left: 16%;*/
        display: none;
        margin: 0 0 4px 0;
        float: left;
    }

        .tableholder .item-operatn a {
            display: block;
            float: left;
            font-size: 18px;
            font-weight: 500;
            padding: 3px;
            width: 50px;
            background: #dedede;
            border: 1px solid #bbbbbb;
            border-radius: 3px;
            margin: 0 0 0 2%;
            color: #000;
        }

            .tableholder .item-operatn a[title]:hover:after {
                content: attr(title);
                padding: 4px 8px;
                color: #333;
                margin: 30px 0 0 -50px;
                background: #000;
                color: #fff;
                position: absolute;
            }

.float-right {
    float: none;
    float: right;
    margin-right: 15px;
}

.float-right {
    float: none;
    float: left;
}

.form-control {
    border: 1px solid #c6c6c6;
    box-shadow: none;
    color: #3b3b3b;
    margin-bottom: 5px;
}


    .form-control:focus, #focusedInput {
        border: 1px solid #517397;
        box-shadow: none;
    }

.control-label {
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    text-transform: capitalize;
}

input, textarea, select, button {
    outline: none !important;
}
/*Rounded Button*/

.btn-round {
    border-radius: 30px;
    -webkit-border-radius: 30px;
}

.btn-primary {
    background-color: #41cac0;
    background-image: none;
    border-color: #41cac0;
    color: #FFFFFF;
}

.btn-info {
    background-color: #53bee6;
    border-color: #53BEE6;
    background-image: none;
    color: #FFFFFF;
}

    .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
        background-color: #53bee6;
        border-color: #53BEE6;
        color: #FFFFFF;
    }

.btn-success {
    background-color: #78CD51;
    background-image: none;
    border-color: #78CD51;
    color: #FFFFFF;
}

    .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
        background-color: #6dbb4a;
        border-color: #6dbb4a;
        color: #FFFFFF;
    }

.btn-warning {
    background-image: none;
    background-color: #e4ba00;
    border-color: #f1c500;
    color: #FFFFFF;
}

    .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
        background-color: #e4ba00;
        border-color: #e4ba00;
        color: #FFFFFF;
    }

.btn-danger {
    background-image: none;
    background-color: #ff6c60;
    border-color: #ff6c60;
    color: #FFFFFF;
}

    .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
        background-color: #ec6459;
        border-color: #ec6459;
        color: #FFFFFF;
    }

.segemnt {
    width: 100%;
    float: left;
    height: 1px;
    display: block;
    border-bottom: 2px solid #eff2f7;
    margin: 2px 0 8px 0;
}

.option_container {
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
    width: 100%;
    float: left;
}

.input-group[class*=col-] {
    padding: 0 15px 0 15px;
}

.upload_btn {
    background: #dedede;
    padding: 3px;
    border-radius: 3px;
}

.taxcheck {
    position: relative;
    left: 15px;
}

.shiping_lbl {
    float: left;
    display: block;
    margin-left: 15px;
    font-weight: normal;
    font-size: 15px;
    width: 15.33%;
}

.shiping_togg {
    float: left;
    margin-left: 15px !important;
}

.shiping_rate {
    display: none;
    overflow: hidden;
}

@media (min-width: 768px) {
}

@media (max-width: 992px) {
    .shiping_lbl {
        width: 23.33%;
    }

    #sidebar {
        display: none;
    }

    .wrapper {
        width: 100%;
        margin-left: 5px;
    }
}

@media (max-width:767px) {
    .shiping_lbl {
        margin-right: 35px;
        margin-bottom: 15px;
        width: auto;
    }
}

@media (min-width: 993px)and (max-width:1310px ) {
    .wraper_margin {
        width: 81%;
    }
    body{
        zoom:.5;
    }
}
