{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}go4shoppy{% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block layout %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-login-image"
                                style="background-image: url('{% static 'accounts/img/bg/image2.jpeg' %}');"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">{% translate 'Password change' %}</h4>
                                    <p>Please enter your old password, for security's sake, and then enter
                                        your new password twice so we can verify you typed it in correctly.</p>
                                </div>
                                <form method="post" class="user" id="register">
                                    {% csrf_token %}
                                    {% include "includes/user_signup_tweak.html" %}
                                    <br>
                                    <button class="btn btn-primary btn-block text-white btn-user" type="submit">{% translate 'Change password' %}</button>
                                </form>
                                <div class="text-center">
                                    <small class="">Go back</small>
                                    <a class="small" href="{% url 'user_login' %}">{% translate 'Login' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}