{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block styles %}
<link rel="stylesheet" href="{% static 'storemaster/css/styles.css' %}">
{% endblock %}

{% block navbar %}
{% include "nav_bar.html" %}
{% endblock %}

{% block layout %}

<div class="container-fluid">
    <div class="text-center mt-5">
        <div class="error mx-auto" data-text="YaY!">
            <b class="m-0">YaY!</b>
        </div>
        <p class="text-dark mb-5 lead">Password change successful</p>
        <p class="text-black-50 mb-0">Your password was changed successfully.</p><a href="{% url 'user_login' %}">← Back to
            Login page</a>
    </div>
</div>
</div>

{% endblock %}

{% block footer %}

{% include "footer.html" %}

</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>

{% endblock %}