{% extends 'layout.html' %}
{% load static %}
{% load i18n %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block layout %}
<div class="constainer">
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="welcome_holdr">
                <h1 class="welcome">Welcome to</h1>
                <span class="go4shoppy"></span>
                <h1 class="welcome">.com</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row indexRow">
        <div class="panel indexPanel">
            <header class="panel-heading text-center">
                <h4 class="create_str_h4">create your online store now.</h4>
            </header>
            <div class="panel-body">
                <form method="post" class="tab-container" id="register">
                    {% csrf_token %}
                    {% include "includes/user_signup_tweak.html" %}
                    <div class="form-group">
                        <div class="col-lg-10 registrationButton" align="center">
                            <button name="registration_submit" type="submit" value="Register"
                                class="btn btn-info" data-loading-text="{% translate 'Registering...' %}">{% translate 'Create my store' %}</button>
                            <div class="form-group text-center">
                                <small class="text-white">Already have an account?</small>
                                <a href="{% url 'user_login' %}" class="showLoginForm"> Login</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}