{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE|default:" en"}}">

<head>
    <title>{% block title %}{{shope_name}} - {{shop_tagline}}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% block favicon %}
    <link rel="shortcut icon" href="{% static  'accounts/favicon.ico' %}" />
    {% endblock %}

    <!-- Css Files -->
    {% block styles %}{% endblock %}
</head>

<body id="page-top">
    <div id="wrapper">

        <!-- Header content -->
        {% block header %}{% endblock %}

        <!-- navbar content -->
        {% block navbar %}{% endblock %}

        <!-- Main content go in the content block. -->
        {% block layout %}{% endblock %}

        <!-- Block footer -->
        {% block footer %}{% endblock %}

        <!-- Block js -->
        {% block scripts %}{% endblock %}

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'js/script.min.js' %}"></script>

</body>

</html>